{% extends 'base.html' %}
{% block content %}
<div class="about-card">
    <h2>About This Application</h2>
    <p>
        This Notes Management System is a secure web application built using
        <strong>Flask</strong> and <strong>MySQL</strong>.
    </p>
    <ul>
        <li>User Authentication (Login / Register)</li>
        <li>Email-based Password Reset</li>
        <li>User-Specific Notes</li>
        <li>Secure Password Hashing</li>
        <li>Search-Bar to Search Notes</li>
        <li>Profile-Section (View/Edit)</li>
    </ul>
    <p class="tech">
        🚀 Tech Stack: Flask · MySQL · HTML · CSS
    </p>
</div>
{% endblock %}
